
mid-term/.ipynb_checkpoints/midterm-checkpoint.ipynb
mid-term/.ipynb_checkpoints/midterm-forth-checkpoint.ipynb
mid-term/.ipynb_checkpoints/midterm-sec-checkpoint.ipynb
mid-term/.ipynb_checkpoints/midterm-sec_cmp-checkpoint.ipynb
mid-term/.ipynb_checkpoints/midterm-third-checkpoint.ipynb
mid-term/.ipynb_checkpoints/midterm-third-Copy1-checkpoint.ipynb
mid-term/.ipynb_checkpoints/stock_analysis-checkpoint.ipynb
*.jpg
